<!DOCTYPE html>
<html lang="en">
<head>
        <style>
        .a{
        margin-top:200px;
        }
        .button{
        background-color:blue;
        color:white;
        border-radius:2px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
<div class="a">
    <img src="https://www.nidirect.gov.uk/sites/default/files/styles/nigov_full_620_x1/public/images/email_logo.jpg?itok=ifUhNgCT" height="50px" width="50px">
    <h1>Welcome!</h1>
    <h4>Thanks for signing up!We just need</h4>
    <h4>you to verify your email address to</h4>
    <h4>complete setting up your account</h4>
    <button class="button" type="submit">Verify My Email</button>
</div>
</center>
</body>
</html>